<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading user">
      <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacus tortor, lacinia eget venenatis sit amet, varius at tellus. Etiam quis elit in ipsum imperdiet porta. In placerat dapibus tempus. Etiam quis finibus leo. Mauris cursus faucibus justo nec hendrerit. Donec fringilla arcu diam, in interdum nisl tristique ut. Praesent feugiat lorem massa, at tincidunt metus placerat sed. Sed ac turpis vehicula, fermentum enim eu, viverra odio. Etiam vel enim faucibus, bibendum dolor ac, elementum arcu. Sed nunc quam, ultrices nec erat eget, dapibus condimentum mi.</p>
      <p><%= @user.first_name %> <%= @user.last_name %></p>
    </div>
  </div>
</div>

<div class="col-xs-3">
  <ul class="nav nav-pills nav-stacked">

    <li role="presentation">
      <%= link_to dashboard_user_path() do %>
          <i id="my-icon" class="fa fa-arrow-left"></i> Dashboard
      <% end %>
    </li>
    <li role="presentation" class="<%= is_active?(user_path) %>">
      <%= link_to user_path() do %>
          <i id="my-icon" class="fa fa-user"></i> My Profile
      <% end %>
    </li>
    <li role="presentation" class="<%= is_active?(manage_user_path) %>">
      <%= link_to manage_user_path() do %>
          <i id="my-icon" class="fa fa-cog"></i> Manage Profile
      <% end %>
    </li>
    <li role="presentation" class="<%= is_active?(edit_user_path) %>">
      <%= link_to edit_user_path() do %>
          <i id="my-icon" class="fa fa-pencil"></i> Basic Info
      <% end %>
    </li>
    <li role="presentation" class="<%= is_active?(projects_user_path) %>">
      <%= link_to projects_user_path() do %>
          <i id="my-icon" class="fa fa-pencil-square-o"></i> Projects
      <% end %>
    </li>
    <li role="presentation" class="<%= is_active?(payment_user_path) %>">
      <%= link_to payment_user_path() do %>
          <i id="my-icon" class="fa fa-credit-card"></i> Payment Info
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to user_path() do %>
          <i id="my-icon" class="fa fa-flag strong"></i> Setting & Promote
      <% end %>
    </li>
  </ul>

</div>