<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <!--<div id="error_explanation">-->
              <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>

              <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
              <!--</div>-->
            </div>
        <% end %>

        <p id="notice"><%= notice %></p>

        <h2>Public profile <small>It's free and always will be.</small></h2>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <%#= f.label :first_name, "Name:", :class => "control-label" %>
              <%= f.text_field :first_name, :class => "form-control input-lg", placeholder: "First name" %>

              <!--<input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">-->

            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <%= f.text_field :last_name, :class => "form-control input-lg", placeholder: "Last Name" %>
              <!--<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">-->
            </div>
          </div>
        </div>
        <div class="form-group">
          <!--<input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Display Name" tabindex="3">-->
          <%= f.label :contact_number, "Contact number:", :class => "control-label" %>
          <%= f.text_field :contact_number, :class => "form-control input-lg", placeholder: "Contact Number" %>
        </div>
        <div class="form-group">
          <%= f.text_field :email, :class => "form-control input-lg", placeholder: "Email" %>
          <!--<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">-->
        </div>
        <div class="form-group">
          <%= f.password_field :password, :class => "form-control input-lg", placeholder: "Password" %>
          <!--<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">-->
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, :class => "form-control input-lg", placeholder: "Password Confirmation" %>
          <!--<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4">-->
        </div>

        <!--<div class="row">-->
        <!--<div class="col-xs-12 col-sm-6 col-md-6">-->
        <!--<div class="form-group">-->
        <!--<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12 col-sm-6 col-md-6">-->
        <!--<div class="form-group">-->
        <!--<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="t_and_c" id="t_and_c" value="1"> I Agree
              </label>
            </div>
          </div>

          <div class="col-xs-8 col-sm-9 col-md-9">
            By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
          </div>
        </div>

        <hr class="colorgraph">
        <div class="row">
          <!--<div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>-->
          <div class="col-xs-6">
            <!--<a href="#" class="btn btn-success btn-block btn-lg">Update profile</a>-->
            <%= f.submit "Register", :class => "btn btn-success btn-block btn-lg" %>
          </div>
          <div class="col-xs-6">
            <%= link_to login_path(), :class => "btn btn-primary btn-block btn-lg" do %>
                Sign In
            <% end %>
            </div>
        </div>

    <% end %>

  </div>

</div>
