<div class="row">
  <div class="col-xs-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        test col-sx-3
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        test col-sx-3
      </div>
    </div>

  </div>

  <div class="col-xs-9">


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        test col-sx-9
      </div>
    </div>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Created at:</strong>
      <%= @user.created_at %>
    </p>

    <p>
      <strong>Updated at:</strong>
      <%= @user.updated_at %>
    </p>

    <p>
      <strong>Password digest:</strong>
      <%= @user.password_digest %>
    </p>

    <p>
      <strong>Contact number:</strong>
      <%= @user.contact_number %>
    </p>

    <p>
      <strong>Company name:</strong>
      <%= @user.company_name %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @user.city %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= @user.country %>
    </p>

    <p>
      <strong>Company type:</strong>
      <%= @user.company_type %>
    </p>

    <p>
      <strong>Zipcode:</strong>
      <%= @user.zipcode %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @user.address %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @user.state %>
    </p>

    <p>
      <strong>Timezone:</strong>
      <%= @user.timezone %>
    </p>

    <p>
      <strong>About company:</strong>
      <%= @user.about_company %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= @user.website %>
    </p>

    <p>
      <strong>Paypal account:</strong>
      <%= @user.paypal_account %>
    </p>

    <p>
      <strong>Payment info:</strong>
      <%= @user.payment_info %>
    </p>

    <p>
      <strong>Skpye:</strong>
      <%= @user.skpye_id %>
    </p>

    <p>
      <strong>Linkedin:</strong>
      <%= @user.linkedin_id %>
    </p>

    <p>
      <strong>Gender:</strong>
      <%= @user.gender %>
    </p>

    <p>
      <strong>About me:</strong>
      <%= @user.about_me %>
    </p>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>



  </div>
</div>